* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color:white;

}

html {
    scroll-behavior: smooth;
}

/* #header {
    width: 100%;
    height: 100vh;
    /* background-image: url(third.jpg); */
/* background-color: blueviolet;
    background-size: cover;
    background-position: center;
} */


/* .container {
    padding: 10px 10%;
} */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#808000;
    flex-wrap: wrap;
}


.logo {
    width: 110px;
    height: 80px;
    margin-left: 15px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}


nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-weight: 500;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}



nav ul li a:hover::after {
    width: 100%;
}




/* ------------------box---------------------- */

.sub-title{
    font-family: sans-serif;
    text-align: center;
    text-decoration: dotted;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    color: silver;

}

.sub-title::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}



.sub-title:hover::after {
    width: 100%;
}

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 100px;
    margin-top: 50px;
}


.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 420px;
    border-radius: 10px;
    display: block;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

.container1 {
    background-color: white;
    height: 55px;
    color: black;
    font-family: cursive;
    font-size: 20px;
    font-style: inherit;
    font-weight: bold;
    text-align: center
}



/* ----------------footer---------------------- */

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}

.copyright i {
    color: #ff004f;
}



/* -------------css for small screen ----------------- */

#cross,
#menu {
    display: none;
}

@media only screen and (max-width: 600px) {
  

  

    #cross,
    #menu {
        display: block;
        font-size: 25px;
    }

    #menu{
        color: black;
    }

    nav ul {
        background: #262626;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul li a{
        color: white;
    }

    #cross {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 35px;
    }



    .copyright {
        font-size: 14px;
    }




}